<h1 style="text-align: center;">Country Population | {{id}}</h1>
<table class="table table-striped" aria-labelledby="tableLabel">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Population</th>
        </tr>
    </thead>
    <tbody>
        <!--@for (country in countries; track countryPopulation.id) {
            <tr>
                <td><a>{{ countryPopulation.id }}</a></td>
                <td><a>{{ countryPopulation.name }}</a></td>
                <td><a>{{ countryPopulation.population }}</a></td>
            </tr>
        }-->
    </tbody>
</table>

<!-- <h1>Country Population {{id}}</h1>
<table class="table table-striped" aria-labelledby="tableLabel">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Population</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries; trackBy: trackByCountryId">
            <td><a>{{ country.id }}</a></td>
            <td><a>{{ country.name }}</a></td>
            <td>{{ country.iso2 }}</td>
            <td>{{ country.iso3 }}</td>
        </tr>
    </tbody>
</table> -->