<h1 style="text-align: center;">Cities</h1>
<table class="table table-striped" aria-labelledby="tableLabel">
    <thead>
        <tr>
            <th>Country ID</th>
            <th>City</th>
            <th>Ascii</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Population</th>
        </tr>
    </thead>
    <tbody>
        @for (city of cities; track city.country_id) {
            <tr>
                <td><a>{{ city.country_id }}</a></td>
                <td><a>{{ city.name }}</a></td>
                <td><a>{{ city.ascii }}</a></td>
                <td><a>{{ city.lat }}</a></td>
                <td><a>{{ city.lng }}</a></td>
                <td><a>{{ city.population }}</a></td>
            </tr>  
          }
    </tbody>
</table>