<header>
    <mat-toolbar color="primary">
      
        <button mat-icon-button [routerLink]="['/']">
          <mat-icon class="spin">home</mat-icon>
        </button>
  
        <a mat-flat-button color="primary" [routerLink]="['/countries']">Countries</a>
        <a mat-flat-button color="primary" [routerLink]="['/cities']">Cities</a>
        <div class="flex-spacer"></div>
        @if (isloggedIn) {
          <a>Howdy Bob</a>
          <button (click)="onLogOut()">
            <mat-icon>account_circle</mat-icon>
          </button>
        }
        @else 
        {
          <a>User not logged in </a>
          <button mat-icon-button [routerLink] = "['/login']">
            <mat-icon>no_accounts</mat-icon>
          </button>
      }
    </mat-toolbar>
</header>